# generic
.idea
venv

.vscode
.cache
build
deploy
.vs
out

*.cfg

# for locales
!locales/*.cfg

# for python
__pycache__
*.pyproject.user

# for c & cpp
cmake-build-*

# for C#
*sln.DotSettings.user
cs/*/*/bin
cs/*/*/obj

# for MATLAB
*.asv

# for go
go/*.exe
